.address {
  background-color: $pink;
  padding: 35px 0;
  z-index: 10;
  @media(min-height:920px){
    padding: 55px 0 35px 0;
  }
}
h4.address__title {
  color: rgba($accent, 0.1);
}
.address__place,
.address__time {
  padding: 0 50px;
  @include RL14;
  text-align: center;
}
.address__place {
  margin: 20px 0 15px 0;
  font-style: normal;
}

.address__map {
  position: relative;
  margin: 18px 0;
  iframe {
    top: 0;
    left: 0;
  }
}
.address__image {
  margin: 0 auto;
  border-radius: 6px;
  display: block;
}
.address__video{
  min-height:178px;
  border-radius: 9px;
  max-width: calc(100% - 54px);
  // width: 100%;
  display: block;
  margin:20px auto 0;
}