h4.catalog__title {
  margin-top: 40px;
  @media(min-width: 920px){
    margin-top: 60px;
  }
}
.catalog__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.catalog__item {
  display: flex;
  flex-direction: column;
  // max-width: 50%;
  background: #ffffff;
  box-shadow: 5px 4px 36px rgba(184, 154, 154, 0.27);
  border-radius: 6px;
  padding: 10px;
  align-items:center;
  margin-top: 15px;
  @media (min-width:500px) {

  }
}
.catalog__item-img {
  object-fit: cover;
  @media (min-width:500px) {
width: 200px;
  }
}
.catalog-item-link {
width: fit-content;
  margin-top: 10px;
  @include RL12;
  text-align: center;
  border-bottom:1px solid #B89A9A;
  position:relative;
  @media (min-width:500px) {
    @include RL14;
  }
  @media (min-width:500px) {
font-size: 16px;
  }
}
