.categories {
  margin-top: 250px;

  input[class$="checkbox"] label:before {
    // border-radius: 3px;
  }

  input[class$="checkbox"] + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    // margin-top: 20px;
  }

  input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    width: 34px;
    height: 34px;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: #fff;
    border: 2px solid $gray;
      margin-right: 8px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  input[type="checkbox"]:checked + label::before {
    border-color: $gray;
    background-color: #fff;
    background-image: url("../images/request/request-check.svg");
  }
}
.categories__wrapper {
  display: flex;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1920px;
}
.categories__aside {
  max-width: 415px;
  width: 100%;
  padding: 40px;
  @include RL30;
  border: 1px solid #000;
  label {
    @include RL30;
  }
  label {
    margin-top: 20px;
  }
}
.categories__aside-category,
.categories__aside-colors,
.categories__aside-textile,
.categories__aside-darkening,
.categories__aside-hight,
.categories__aside-print {
  margin-bottom: 55px;
}
.categories__aside-category-title {
}
.categories__aside-category-list {
}
.categories__aside-category-item {
  margin-left: 20px;
}
.categories__aside-category-item-link {
}
.categories__aside-colors {
}
.categories__aside-colors-title {
}
.categories__aside-colors-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
}
.categories__aside-colors-item {
  max-width: calc(27% - 30px);
  width: 100%;

  .categories__aside-color-radio {
    position: absolute;
    z-index:0;
    right: 100vw;
  }
  .categories__aside-color-radio + .categories__aside-color {
    display: inline-block;
    position: relative;
    margin: 0 4px;
    border: 2px solid #fff;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.33);
    cursor: pointer;
    border: 2px solid transparent;
    z-index: 1;
  }
  .categories__aside-color-radio:checked + .categories__aside-color {
    border: 3px solid rgba($gray, 1);
    transition: all 0.3s ease;
  }
}

.color-1 {
  background-color: #fff;
}
.color-2 {
  background-color: #000;
}
.color-3 {
  background-color: #f7238a;
}
.color-4 {
  background-color: #ff7e00;
}
.color-5 {
  background-color: #00dea4;
}
.color-6 {
  background-color: $btn-gray;
}
.color-7 {
  background-color: #4a94ff;
}
.color-8 {
  background-color: #faff00;
}
.color-9 {
  background-color: #f2e8c9;
}
.color-10 {
  background-color: #ff0303;
}

h5.categories__aside-colors-title {
  margin-bottom: 25px;

}
.categories__aside-textile {
}
.categories__aside-textile-title {
}
.categories__aside-textile-list {
}
h5[class^="categories__aside-"] {
  @include RS30;
  // margin-bottom: 25px;
}
.categories__items-select-wrapper {
  display: flex;
  justify-content: flex-end;
}
.categories__item-price,
.categories__items-select {
  @include RS30;
}

.categories__items-select-title {
  margin-right: 25px;
  @include RS30;
}
.categories__items-select {
}
.categories__inner {
  width: 100%;
}
.categories__items {
  display: flex;
  padding: 30px 25px;
  // width: 100%;
}
.categories__items-select {
}
.form-control {
  
}
.categories__item{
  width: 100%;
  max-width: 360px;
  // max-width: calc(33.33% - 20px); 
}
.categories__item+.categories__item{
  margin-left: 20px;
}
.categories__item-link {
 
}
.categories__item-img {
  object-fit: cover;
  height: 450px;
  max-width: 360px;
  width: 100%;
}
.categories__item-price {
}
.categories__item-title {
  @include RR24;
  min-height: 60px;
  max-height: 60px;
}
.categories_item-cart{
  @include cart-btn;
  margin-top: 20px;
}
