.header {
  z-index:100;
  position:fixed;
  background-color: #fff;
  left:0;
   right:0;
}

.header__inner {
  display: flex;
  padding: 15px 0;
  align-items: center;
  justify-content: space-between;
}
.header__tel {
  @include RR11;
}
.header__cart {
  position: relative;
}
.header__cart-counter {
  position: absolute;
  border-radius: 50%;
  @include RR9;
  background-color: #e9e9e9;
  padding: 3px 5px;
  text-align: center;
  top: 65%;
  right: -5px;
}

.header__nav-burger {
  margin-top: -5px;
  width: 28px;
  height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header__nav-burger-line {
  width: 100%;
  max-width: 100%;
  height: 2px;
  background-color: $pink;
}
.header__nav-blur-bgr{
  display:none;
  z-index: 800;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  height: 100vh;
  background-color: rgba(255,255,255, 0.4);
  filter:blure(9px);
}
.header__nav {
  @include RR17;
  line-height: 26px;
  display: none;
  max-height: 707px;
  position: absolute;
  top: 0;
  right: 0;
  width: 332px;
  border-radius: 0px 9px;
  background-color: #fff;
  padding:15px 30px 40px 30px;
  z-index: 900;
  height: 100vh;
  box-sizing: border-box;
}
.header__nav-inner-wrap {
  max-height: 100%;
  height: calc(100% - 60px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.header__nav-close {
  margin-left: 100%;
 
}
.header__nav-list {
  margin-bottom: 35px;
}
.header__nav-item {
  &+&{
    margin-top: 7px;
  }
}
.header__nav-messengers {
  display: flex;
  font-size: 0;
}
a.header__nav-messengers-link {
  width: 28px;
  height: 28px;
  background-color: $accent;
  padding-left: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding:0 3px 0 0;
&:hover,
&:active{
  background-color: $active;
}
  &:first-child{
 padding: 0 0 0 3px;
  }
  & + & {
    margin-left: 10px;
  }
}
.header__nav-inner-time {
  margin-bottom: 10px;
}
