.request {
  background-color: $pink;
  padding: 37px 0;
   z-index:10;
}
h4.request__title {
  margin-bottom: 15px;
  font-size: 32px;
  color:rgba($accent, 0.09);
}
.request__subtitle {
  text-align: center;
    @include RL14;
  max-width: 225px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.request__form {
  padding:0 27px;
  @include RL14;
  display: flex;
  flex-wrap: wrap;
}
.request__form-name,
.request__form-tel {
  width: 100%;
  max-width: 100%;
  padding:0 10px;
  height: 48px;
  border-radius:9px;
  &::placeholder{
    color:$lgray;
  }
}
.request__form-name {
  margin-bottom: 20px; 
}
.request__form-btn {
  margin: 30px auto 10px auto;
}
.request-btn-subscribe {
  @include RL11;
 width: fit-content;
 margin:0 auto;
}
//the styles for checkbox is in global.scss
