$accent: #b89a9a;
$pink: #f5eced;
$active: #aa1565;
$text: #383838;
$gray: #2e363e;
$lgray: #a2a2a2;
$btn-gray:#C4C4C4;
$title: #363636;



@mixin bgr {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@mixin flr-l {
  z-index: 1;
  position: absolute;
  left: 0;
}
@mixin flr-r {
  z-index: 1;
  position: absolute;
  right: 0;
}

//The styles for fonts start
@mixin R900 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
@mixin RB60 {
  @include R900;
  line-height: 77px;
  font-size: 60px;
}
// @mixin RB50{
//   @include R900;
//   line-height: 67px;
//   font-size: 50px;
// }
@mixin RB40 {
  @include R900;
  line-height: 57px;
  font-size: 40px;
}
@mixin RB36 {
  @include R900;
  line-height:54px;
  font-size: 36px;
}

@mixin RB18 {
  @include R900;
  line-height: 27px;
  font-size: 18px;
}

@mixin R700 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
@mixin RS30 {
  @include R700;
  font-size: 30px;
  line-height: 45px;
}
//The styles for fonts start
@mixin R500 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
@mixin RM18 {
  @include R500;
  font-size: 18px;
  line-height: 26px;
}
@mixin RM17 {
  @include R500;
  font-size: 17px;
  line-height: 24px;
}
@mixin RM15 {
  @include R500;
  font-size: 15px;
  line-height: 22px;
}
@mixin RM14 {
  @include R500;
  font-size: 14px;
  line-height: 21px;
}
@mixin RM13 {
  @include R500;
  font-size: 13px;
  line-height: 19px;
}
@mixin RM10 {
  @include R500;
  font-size: 10px;
  line-height: 14px;
}

@mixin R400 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

@mixin RR36 {
  @include R400;
  font-size: 36px;
    line-height: 55px;
}
// @mixin RR30 {
//   @include R400;
//   font-size: 30px;
//   line-height: 38px;
// }
@mixin RR24 {
  @include R400;
  font-size: 24px;
  line-height: 32px;
}
@mixin RR18 {
  @include R400;
  font-size: 18px;
  line-height: 25px;
}
@mixin RR17 {
  @include R400;
  font-size: 17px;
  line-height: 24px;
}
@mixin RR15 {
  @include R400;
  font-size: 15px;
  line-height: 20px;
}
@mixin RR14 {
  @include R400;
  font-size: 14px;

  line-height: 19px;
}
@mixin RR12 {
  @include R400;
  font-size: 12px;
  line-height: 17px;
}
@mixin RR11 {
  @include R400;
  font-size: 11px;
  line-height: 17px;
}
@mixin RR10 {
  @include R400;
  font-size: 10px;
  line-height: 14px;
}
@mixin RR9 {
  @include R400;
  font-size: 9px;
  line-height: 14px;
}
@mixin RR8 {
  @include R400;
  font-size: 8px;
  line-height: 12px;
}

@mixin R300 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
@mixin RL30 {
  @include R300;
  font-size: 30px;
  line-height: 45px;
}
@mixin RL16 {
  @include R300;
  font-size: 16px;
  line-height: 26px;
}
@mixin RL15 {
  @include R300;
  font-size: 15px;
  line-height: 23px;
}
@mixin RL20 {
  @include R300;
  font-size: 20px;
  line-height: 25px;
}
@mixin RL14 {
  @include R300;
  font-size: 14px;
  line-height: 19px;
}
@mixin RL12 {
  @include R300;
  font-size: 12px;
  line-height: 17px;
}
@mixin RL11 {
  @include R300;
  font-size: 11px;
  line-height: 15px;
}
@mixin RL9 {
  @include R300;
  font-size: 9px;
  line-height: 14px;
}
//
// The mixins are for adaptive
@mixin h4-920 {
  @media (min-width: 920px) {
    margin: 55px 0 40px 0;
  }
}

@mixin index-btn{
  background-color: $accent;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 220px;
  height: 48px;
  border-radius: 9px;
  @include RR17;
  margin: 0 auto;
  @media(min-width:920px){
    max-width: 320px;
  height: 58px;
  border-radius: 13px;
  @include RM18;
}
}
@mixin cart-btn{
  border:1px solid $gray;
  color:$gray;
  border-radius:4px;
  background-color: #fff;
  max-width: 110px;
  width: 100%;
  height: 30px;
}


